<header
  class="d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-center justify-content-between p-3 px-md-4 mb-3 border-bottom shadow-sm fixed-top"
>
  <img src="/assets/images/logo.png" style="max-height: 70px" alt="logo" />

  <ul
    class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-uppercase"
    style="font-size: larger"
  >
    <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Shop</a></li>
    <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
  </ul>

  <div class="d-flex align-items-center">
    <a class="position-relative" style="margin-right: 25px">
      <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
      <div class="cart-no">5</div>
    </a>
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>
